@media only screen and (max-width: 991px) {
    .category-items {
        max-width: 500px;
    }
  }

  @media only screen and (max-width: 768px) {
    
  }

  @media only screen and (max-width: 600px) {
    .category-items {
        max-width: 300px;
    }

    .nav-items {
        justify-content: center;
    }

    .nav-items a, .nav-social-media-items {
        display: none;
    }
    p.page-readers {
        /* position: absolute; */
       
            /* position: absolute; */
           margin-left: 238px;
           line-height: 18px;
           font-weight: 500;
           font-size: 14px;
           font-style: normal;
           font-family: 'Roboto';
           left: 35px
           }
    }

    
